### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [3]:
ingreso_tienda1 = tienda1['Precio'].sum()
print(f"Ingreso total tienda 1 = ${ingreso_tienda1:,.2f}")

Ingreso total tienda 1 = $1,150,880,400.00

In [4]:
ingreso_tienda2 = tienda2['Precio'].sum()
print(f"Ingreso total tienda 2 = ${ingreso_tienda2:,.2f}")

Ingreso total tienda 2 = $1,116,343,500.00

In [5]:
ingreso_tienda3 = tienda3['Precio'].sum()
print(f"Ingreso total tienda 3 = ${ingreso_tienda3:,.2f}")

Ingreso total tienda 3 = $1,098,019,600.00

In [6]:
ingreso_tienda4 = tienda4['Precio'].sum()
print(f"Ingreso total tienda 4 = ${ingreso_tienda4:,.2f}")

Ingreso total tienda 4 = $1,038,375,700.00

# 2. Ventas por categoría

In [7]:
ventas_por_categoria_tienda1 = tienda1.groupby('Categoría del Producto').size()
print("Ventas por categoría tienda 1: \n", ventas_por_categoria_tienda1)

Ventas por categoría tienda 1:
 Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
dtype: int64

In [8]:
ventas_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto').size()
print("Ventas por categoría tienda 2: \n", ventas_por_categoria_tienda2)

Ventas por categoría tienda 2:
 Categoría del Producto
Artículos para el hogar    181
Deportes y diversión       275
Electrodomésticos          305
Electrónicos               422
Instrumentos musicales     224
Juguetes                   313
Libros                     197
Muebles                    442
dtype: int64

In [9]:
ventas_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto').size()
print("Ventas por categoría tienda 3: \n", ventas_por_categoria_tienda3)

Ventas por categoría tienda 3:
 Categoría del Producto
Artículos para el hogar    177
Deportes y diversión       277
Electrodomésticos          278
Electrónicos               451
Instrumentos musicales     177
Juguetes                   315
Libros                     185
Muebles                    499
dtype: int64

In [10]:
ventas_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto').size()
print("Ventas por categoría tienda 4: \n", ventas_por_categoria_tienda4)

Ventas por categoría tienda 4:
 Categoría del Producto
Artículos para el hogar    201
Deportes y diversión       277
Electrodomésticos          254
Electrónicos               451
Instrumentos musicales     170
Juguetes                   338
Libros                     187
Muebles                    480
dtype: int64

# 3. Calificación promedio de la tienda

In [11]:
tiendas = {'Tienda 1': tienda1, 'Tienda 2': tienda2, 'Tienda 3': tienda3, 'Tienda 4': tienda4}

for nombre_tienda, tienda in tiendas.items():
    calificacion_promedio = tienda['Calificación'].mean()
    print(f"Calificación promedio de {nombre_tienda}: {calificacion_promedio:.2f}")

Calificación promedio de Tienda 1: 3.98
Calificación promedio de Tienda 2: 4.04
Calificación promedio de Tienda 3: 4.05
Calificación promedio de Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [12]:
ventas_por_producto_tienda1 = tienda1.groupby('Producto').size()

productos_mas_vendidos_tienda1 = ventas_por_producto_tienda1.sort_values(ascending=False).head(5)
print("Top 5 productos más vendidos en la tienda 1:\n", productos_mas_vendidos_tienda1)

productos_menos_vendidos_tienda1 = ventas_por_producto_tienda1.sort_values(ascending=True).head(5)
print("Top 5 productos menos vendidos en la tienda 1:\n", productos_menos_vendidos_tienda1)

Top 5 productos más vendidos en la tienda 1:
 Producto
Armario             60
TV LED UHD 4K       60
Microondas          60
Secadora de ropa    58
Mesa de noche       56
dtype: int64
Top 5 productos menos vendidos en la tienda 1:
 Producto
Auriculares con micrófono      33
Celular ABXY                   33
Olla de presión                35
Pandereta                      36
Ciencia de datos con Python    39
dtype: int64

In [13]:
ventas_por_producto_tienda2 = tienda2.groupby('Producto').size()

productos_mas_vendidos_tienda2 = ventas_por_producto_tienda2.sort_values(ascending=False).head(5)
print("Top 5 productos más vendidos en la tienda 2:\n", productos_mas_vendidos_tienda2)

productos_menos_vendidos_tienda2 = ventas_por_producto_tienda2.sort_values(ascending=True).head(5)
print("Top 5 productos menos vendidos en la tienda 2:\n", productos_menos_vendidos_tienda2)

Top 5 productos más vendidos en la tienda 2:
 Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Pandereta                    58
Guitarra acústica            58
dtype: int64
Top 5 productos menos vendidos en la tienda 2:
 Producto
Juego de mesa      32
Impresora          34
Mesa de comedor    34
Sillón             35
Auriculares        37
dtype: int64

In [14]:
ventas_por_producto_tienda3 = tienda3.groupby('Producto').size()

productos_mas_vendidos_tienda3 = ventas_por_producto_tienda3.sort_values(ascending=False).head(5)
print("Top 5 productos más vendidos en la tienda 3:\n", productos_mas_vendidos_tienda3)

productos_menos_vendidos_tienda3 = ventas_por_producto_tienda3.sort_values(ascending=True).head(5)
print("Top 5 productos menos vendidos en la tienda 3:\n", productos_menos_vendidos_tienda3)

Top 5 productos más vendidos en la tienda 3:
 Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
dtype: int64
Top 5 productos menos vendidos en la tienda 3:
 Producto
Bloques de construcción    35
Set de vasos               36
Mochila                    36
Microondas                 36
Vaso térmico               38
dtype: int64

In [15]:
ventas_por_producto_tienda4 = tienda4.groupby('Producto').size()

productos_mas_vendidos_tienda4 = ventas_por_producto_tienda4.sort_values(ascending=False).head(5)
print("Top 5 productos más vendidos en la tienda 4:\n", productos_mas_vendidos_tienda4)

productos_menos_vendidos_tienda4 = ventas_por_producto_tienda4.sort_values(ascending=True).head(5)
print("Top 5 productos menos vendidos en la tienda 4:\n", productos_menos_vendidos_tienda4)

Top 5 productos más vendidos en la tienda 4:
 Producto
Cama box                     62
Cubertería                   59
Cama king                    56
Dashboards con Power BI      56
Carrito de control remoto    55
dtype: int64
Top 5 productos menos vendidos en la tienda 4:
 Producto
Guitarra eléctrica             33
Armario                        34
Guitarra acústica              37
Ciencia de datos con Python    38
Lavadora de ropa               38
dtype: int64

# 5. Envío promedio por tienda

In [18]:
tiendas = {'Tienda 1': tienda1, 'Tienda 2': tienda2, 'Tienda 3': tienda3, 'Tienda 4': tienda4}

for nombre_tienda, tienda in tiendas.items():
    valor_envio_promedio = tienda['Costo de envío'].mean()
    print(f"Valor de envío promedio de {nombre_tienda}: {valor_envio_promedio:,.2f}")

Valor de envío promedio de Tienda 1: 26,018.61
Valor de envío promedio de Tienda 2: 25,216.24
Valor de envío promedio de Tienda 3: 24,805.68
Valor de envío promedio de Tienda 4: 23,459.46